<section id="wizard_bg">
  <div class="container" id="mail_confirmation" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <h3 class="col-md-9"><i class=" icon-check-1"></i>Email Enviado Exitosamente</h3>
            <div class="col-md-3">
              <%= link_to communication_path,  :class => 'button_medium pull-right' do%>
                <i class=" icon-reply-1"></i> Volver
              <%end%>
            </div>
            <p class="info">El email informativo se ha enviado correctamente a todos los destinatarios, su direccion de email ha sido incluida dentro de los destinatarios para revisar la correcta recepción</p>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->
    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
