
<section id="main_content">
  <div class="container" id="no_evaluation">
    <div class="row">
      <div class="col-md-12">
        <p class="info">
            Para comenzar selecciona alguna de las opciones disponibles en el menu superior <i class="icon-up-hand"></i>
          <br />
          <br />
          <%= image_tag 'logo-grande.png'%>
        </p>
      </div>
    </div><!-- End row -->
  </div>
</section>
