
<section id="main_content">
  <div class="container" id="no_evaluation">
    <div class="row">
      <div class="col-md-12">
          <p class="info">
            Actualmente no tienes ningun curso asignado, favor contacta a tu tutor o utiliza el Chat que se encuentra en la parte inferior de esta p&aacute;gina
            <br />
            <br />
            Muchas gracias por tu inter&eacute;s.
            <br />
            <br />
            <br />
            <%= image_tag 'logo-grande.png'%>
          </p>
      </div>
    </div><!-- End row -->
  </div>
</section>
