

    <section id="wizard_bg">
      <div class="container">
        <div id="survey_container">
          <div id="middle-wizard">
            <div class="step">
              <div class="row">
                <h3 class="col-md-9"><i class="icon-suitcase"></i> Nuevo Contacto: <b><%=@coachee.first_name%></b></h3>
                <div class="col-md-3">
                  <% if @user.nil? %>
                      <%= link_to contacts_admin_path(:coachee_id => @coachee.id),  :class => 'button_medium pull-right' do%>
                          <i class="icon-level-up"></i> Volver
                      <%end%>
                  <% else %>
                      <%= link_to contacts_admin_path(:coachee_id => @coachee.id, :user_id => @user.id ),  :class => 'button_medium pull-right' do%>
                          <i class="icon-level-up"></i> Volver
                      <%end%>
                  <% end %>
                </div>
                
                <%= render 'form' %>
