<section id="wizard_bg">
  <div class="container" id="admin_users" >
    <div id="survey_container">
      <div id="middle-wizard">
        <div class="step">
          <div class="row">
            <h3 class="col-md-12"><i class="icon-pencil-1"></i> Evaluaci&oacute;n : <b><%= @evaluation.course.name %></b></h3>
            </div>
          <div class="row">

            <p class="info" class="col-md-12">
                Su evaluaci&oacute;n fue correctamente enviada
            </p>
            <%= link_to course_path(:id => @evaluation.course_id),  :class => 'button_medium pull-right' do%>
              <i class="icon-reply"></i> Volver al Curso
            <%end%>
          </div>
        </div><!-- end step-->
      </div><!-- end middle-wizard -->

    </div><!-- end Survey container -->
  </div>
</section><!-- end section main container -->
