<div class="modal" id="example-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><i class=""><i class=" icon-list-numbered"></i></i> Descripci&oacute;n de M&oacute;dulos</h4>
      </div>
      <div class="modal-body">
        <br />
        <table class="table table-bordered" id="levels">
            <tr>
                <th width="170">Subfactor</th>
                <th>Definici&oacute;n</th>
            </tr>
            <tr>
                <th>Desarrollo de Equipos</th>
                <td>Dominio de herramientas de entrenamiento de nuevas competencias en equipos de trabajo basado en la identificación de los talentos y destrezas de las personas que forman parte del sistema</td>
            </tr>
            <tr>
                <th>Comunicaci&oacute;n</th>
                <td>Capacidad de generar acciones comunes al interior de un equipo que busca un resultado especificado</td>
            </tr>
            <tr>
                <th>Resoluci&oacute;n de Conflictos</th>
                <td>Habilidad personal para actuar asertivamente frente a situaciones de alta demanda emocional. Implica la destreza de verse y ver a los involucrados distinguiéndolos del contexto, y pudiendo identificar la  insatisfacción predominantes y/o el hecho que gatilla el conflicto. Implica la realización de acciones de aislamiento en torno a la emoción, del hecho o de ambas, para posicionarse desde una lógica funcional al bien mayor protegido (la correcta proporción entre la preocupación por las personas y logro de resultados)</td>
                </td>
            </tr>
            <tr>
                <th>Delegaci&oacute;n </th>
                <td>Disposición (Disponerse y Disponer). Actitud, para propiciar que un evento o una secuencia de ellos ocurra de forma planificada, basados en la expectativa fundada de que se podrá obtener un resultado determinado</td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-primary">Cerrar</a>
      </div>
    </div>
  </div>
</div>