<div class="modal" id="contact_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Contactar Tutor</h4>
      </div>
      <div class="modal-body">
        Puedes contactar al Coach en el siguiente email:<br/> <a href="mailto:<%=@coach.email%>"><%=@coach.email%></a>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-primary">Cerrar</a>
      </div>
    </div>
  </div>
</div>