				<% if no_reply %>
				<div style="padding:0px 5px; font-size: 0.8em; margin-top:20px">
						Este es un email generado desde Colaboral. Por favor no lo responda a esta direcci&oacute;n.
				</div>
				<% end %>
			</div>
		</div>
	</body>
</html>
