<html>
	<body style="background:#e9e8e8; color:#ffffff; font-size:14px; padding:30px 10px;">
		<div style="margin:0px auto 0px auto; color:#ffffff; max-width:600px;">
			<div style="border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:white; color:#000000; padding:10px 10px 10px 10px; margin-bottom:15px; line-height:140%; font-family:arial,sans-serif;">
				<div style="">
					<a href="<%= root_url %>" style="border: none;">
						<img src="http://res.cloudinary.com/colaboral/image/upload/logo-black_pzwp69.png" alt="Indo Consultores" style="display: block;margin-left: auto; margin-right: auto;text-align:center, border: none;"/>
					</a>
				</div>


